body {
    background-image: url(https://us.123rf.com/450wm/finevector/finevector1701/finevector170100095/70468106-mardi-gras-holiday-background-with-fleur-de-lis-sign-pattern-vector-illustration-.jpg?ver=6);
    font-family: 'Rokkitt', serif;
    height: 100%;
    width: 100%;
}

header {
    background-color: black;
    color: white;
    text-align: center;
    font-size: 3em;
    width: 100%;
    padding: 20px;
}

.content {
    margin: auto;
    width: 80%;
}

#directions {
    background-color: goldenrod;
    text-align: center;
    font-size: 2em;
    margin-top: 20px;
}

.game {
    background-color:  black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 20px;
    font-size: 150%;
    text-align: center;
}

#infoWrapper {
    background-color: gold;
    height: 400px;
    min-width: 200px;
    padding: 20px;
    align-content: center;
    border: 4px solid black;
}

#wordWrapper {
    background-color: limegreen;
    height: 400px;
    padding: 20px;
    min-width: 200px;
    color: white;
    border: 4px solid black;
}

#imageWrapper {
    background-color: darkmagenta;
    height: 400px;
    padding: 20px;
    min-width: 200px;
    color: white;
    border: 4px solid black;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    font-size: 1em;
    width: 100%;
    padding: 10px;
    position: fixed;
    bottom: 0;
}